* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #85ffbd;
  background-image: linear-gradient(165deg, #85ffbd 0%, #fffb7d 100%);
}
h1 {
  padding: 4px;
  margin-left: 128px;
  position: absolute;
  top: 40px;
}
h2 {
  margin-top: 20px;
  padding: 4px;
  margin-left: 70px;
}
p {
  margin-top: 20px;
  position: relative;
  align-items: center;
  padding: 10px 10px 10px 18px;
  font-size: 24px;
  font-family: Arial;
}
ul {
  margin-left: 128px;
  padding: 2px 10px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-family: Arial;
  color: #ee2a2a;
  font-size: 20px;
  line-height: 30px;
}
