* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #4158d0;
  background: linear-gradient(195.99deg, #380036 -0.95%, #0cbaba 117.75%);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 60px;
}
.logo img {
  height: 90px;
  width: 250;
  color: #00008b;
  padding: 5px;
}
.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.middle .dect {
  padding-left: 4px;
  height: 100px;
  width: 200px;
  float: left;
}

p {
  font-size: 28px;
  font-family: Arial;
  padding: 8px;
  color: white;
}
.box1 {
  height: 400px;
  width: 400px;
  border: 3px solid white;
  margin-top: 40px;
  margin-left: 6px;
}
h1 {
  margin-top: 30px;
  height: 30px;
  padding-left: 130px;
  color: white;
}
input {
  height: 50px;

  margin: 4px 40px 4px 25px;
  width: 340px;
  display: block;
  padding: 8px;
  font-size: 21px;
  outline: none;
  border-radius: 4px;
}
button {
  height: 40px;
  width: 150px;
  background-color: #000000;
  color: #d3d3d3;
  margin-top: 30px;
  margin-left: 115px;
  font-family: Arial;
  font-size: 21px;
  outline: none;
  padding: 4px;
  border-radius: 4px;
}
.box1 img {
  width: 400px;
  height: 160px;
}
.box1 p {
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 24px;
  padding: 8px;
}
.wlc p {
  color: white;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin-top: 50px;
}
